@import '../variables';

.advantagesWrap {
  position: relative;
  background: $colorBackgroundLightGrey;
  box-shadow: inset 0 5px 35px rgba(0, 0, 0, 0.2);
}

.advantages {
  position: relative;
  display: flex;

  &__cardWrap {
    display: flex;
  }
}

@include desktop() {
  .advantagesWrap {
    height: 595px;
  }

  .advantages {
    justify-content: center;
    align-items: center;
    padding: 120px 0;

    &__cardWrapTablet,
    &__card_tablet,
    &__linkCatalog {
      display: none;
    }

    &__cardWrap {
      flex-wrap: wrap;
      background: $colorBackgroundLightMilk;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__card {
      width: 398px;
      height: 355px;
      padding: 80px 44px;
    }

    &__card:nth-child(2) {
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    }

    &__cardTitle {
      margin-bottom: 27px;
    }

    &__decorativeTitle {
      @include decorativeTitle;
      right: -91px;
      top: 260px;

      &_tablet {
        display: none;
      }
    }
  }
}

@include tablet() {
  .advantagesWrap {
    height: 1024px;
  }

  .advantages {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    //background: url(../assets/images/advantages/back-t.jpg) 0 100% no-repeat;
    //background-size: contain;

    &__cardWrap_desktop {
      display: none;
    }

    &__miniCardWrap {
      display: flex;
    }

    &__cardWrapTablet {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    &__card {
      width: 350px;
      height: 330px;
      padding: 32px 34px 27px;
      background: $colorBackgroundLightMilk;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 20px;

      &_tablet {
        margin-bottom: 30px;
      }

      &_phone {
        display: none;
      }
    }

    &__card:nth-child(1) {
      margin-right: 20px;
    }

    &__cardTitle {
      margin-bottom: 27px;
    }

    &__linkCatalog {
      color: #ffffff;
      margin-bottom: 211px;
    }

    &__decorativeTitle {
      @include decorativeTitleTablet;
      text-align: center;
      margin: 40px 0;

      &_desktop {
        display: none;
      }
    }
  }
}

@include phone() {
  .advantagesWrap {
        //height: 1700px;
    //background: url(../assets/images/advantages/back-ph.jpg) 0 100% no-repeat;
    //background-size: contain;
  }

  .advantages {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding: 0 24px;

    &__cardWrap_desktop,
    &__miniCardWrap  {
      display: none;
    }

    &__cardWrapTablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__miniCardPhone {
      //height: 1210px;
    }

    &__card {
      padding: 22px 10% 22px 12%;
      background: $colorBackgroundLightMilk;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 20px;

      &_tablet {
        display: none;
      }
    }

    &__cardTitle {
      margin-bottom: 27px;
    }

    &__linkCatalog {
      color: #CA2F03;
      margin-bottom: 20px;
      text-align: center;
    }

    &__decorativeTitle {
      @include decorativeTitleTablet;
      text-align: center;
      line-height: 74px;

      &_desktop {
        display: none;
      }
    }

    &__bcgImage {
      width: 100%;
    }
  }
}
