@import '../partials/mixins';

.communication {
  background: $form-background-color;
  user-select: none;

  &__form-container {
    height: 100%;
    padding: 4em 0 5em;
  }

  &__title {
    color: $header-grey-color;
  }

  &__text {
    @include base-text;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    color: $light-text-color;
  }

  &__input,
  &__label-checkbox {
    @include light-text;
  }

  &__input {
    width: 100%;
    border: none;
    background: $form-background-color;

    &_checkbox {
      display: none;
    }
  }

  &__input::placeholder {
    @include light-text;
  }

  &__label {
    border-bottom: 1px solid $input-border-color;
  }

  &__label.error {
    border-bottom: 1px solid $error-color;
  }

  &__label-checkbox {
    position: relative;
    display: inline-block;
  }

  &__label-checkbox:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 24px;
    padding-left: 4px;
    border: 1px solid $input-border-color;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    @include btn;
    outline: none;
  }

  &__send {
    font-size: $mini-font-size;
    line-height: 18px;
    color: $light-text-color;
  }

  &__error {
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    color: $error-color;
  }
}

.communication__input_checkbox:checked + label.communication__label-checkbox:before {
  content: '\2713';
  font-size: 23px;
  text-align: center;
  padding-left: 4px;
  color: $light-text-color;
}

@include desktop() {
  .communication {
    position: relative;
    height: 32.5em;

    &__form-container {
      padding: 4em 0 5em;
    }

    &__image {
      position: absolute;
      bottom: 0;
      right: 10%;
    }

    &__title {
      @include _h1-light;
      margin-bottom: $margin-step;
    }

    &__form {
      width: 50%;
    }

    &__input {
      padding: 1.2em 0.75em 0.5em 0;
    }

    &__label {
      width: 75%;
    }

    &__label-checkbox {
      margin: 1.5em 0 2em 2.5em;
    }

    &__label-checkbox:before {
      left: -40px;
    }

    &__wrap {
      width: 84%;
      align-items: center;
    }

    &__button {
      margin-right: $margin-step * 2;
    }

    &__send {
      width: 80%;
    }

    &__field-name {
      top: 50px;
    }

    &__field-email {
      top: 104px;
    }

    &__field-phone {
      top: 159px;
    }
  }
}

@include tablet() {
  .communication {

    &__form-container {
      padding: 3em 7em 3.5em;
    }

    &__image {
      display: none
    }

    &__title {
      @include _h2-light;
      margin-bottom: $margin-step;
    }

    &__text {
      margin-bottom: $margin-step * 2;
    }

    &__title,
    &__text {
      text-align: center;
    }

    &__form {
      width: 100%;
    }

    &__input {
      padding: 1.2em 0.75em 0.5em 0;
    }

    &__label-checkbox {
      padding-left: 1.75em;
      margin: 1.5em 0 1.5em 1.5em;
    }

    &__label-checkbox:before {
      left: -23px;
      top: 10px;
    }

    &__wrap {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__send {
      text-align: center;
      width: 80%;
      margin-bottom: $margin-step;
    }

    &__field-name {
      top: 50px;
    }

    &__field-email {
      top: 104px;
    }

    &__field-phone {
      top: 159px;
    }
  }
}

@include phone() {
  .communication {

    &__form-container {
      padding: 1.5em 0 1.5em;
    }

    &__image {
      display: none
    }

    &__title {
      @include _h1-mobile-light;
      line-height: 35px;
      margin-bottom: $margin-step;
    }

    &__text {
      margin-bottom: $margin-step * 2;
    }

    &__title,
    &__text {
      text-align: center;
    }

    &__form {
      width: 100%;
    }

    &__input {
      padding: 1.2em 0.75em 0.5em 0;
    }

    &__label-checkbox {
      padding-left: 1.75em;
      margin: 1.5em 0 1.5em 1.5em;
    }

    &__label-checkbox:before {
      left: -23px;
      top: 10px;
    }

    &__wrap {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__send {
      text-align: center;
      width: 80%;
      margin-bottom: $margin-step;
    }

    &__field-name {
      top: 50px;
    }

    &__field-email {
      top: 104px;
    }

    &__field-phone {
      top: 159px;
    }
  }
}