@import '../partials/mixins';

.cooperate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    margin-bottom: $margin-step * 2;
  }

  &__title {
    @include _h3;
    margin-bottom: $margin-step;
  }

  &__text {
    @include light-text;
  }
}

@include desktop() {
  .cooperate {
    padding: 6em 0;

    &__item {
      flex-basis: 30%;
      align-items: flex-start;
    }
  }
}

@include tablet() {
  .cooperate {
    padding: $padding-top-tablet 0 $padding-bottom-tablet - $margin-step * 2;

    &__item {
      flex-basis: 47%;
      text-align: center;
      margin-bottom: $margin-step * 2;

      &_last {
        margin-left: 30%;
      }
    }

    &__icon {
      width: 64px;
      align-self: center;
    }
  }
}