@import '../partials/mixins';

.cooperate {
  height: 28em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 6em;

  &__item {
    flex-basis: 30%;
  }

  &__icon {
    margin-bottom: $margin-step * 2;
  }

  &__title {
    @include _h3;
    margin-bottom: $margin-step;
  }

  &__text {
    @include light-text;
  }
}