@import '../partials/mixins';

.first {
  background: url(../assets/images/first-screen/first.jpg) no-repeat;
  background-size: cover;

  &__content {
    height: 100%;
    color: $text-white-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    @include _h1;
    max-width: 75%;
  }

  &__subtitle {
    @include _h4;
    max-width: 50%;
  }

  &__button {
    @include btn;
  }
}

@include desktop() {
  .first {

    &__content {
      padding: 8em 0 11em;
    }

    &__title {
      margin-bottom: $margin-step-sixteen;
    }

    &__subtitle {
      margin-bottom: $margin-step * 2;
    }
  }
}

@include tablet() {
  .first {

    &__content {
      padding: 6.25em 0 10.4em;
      align-items: center;
    }

    &__title,
    &__subtitle {
      text-align: center;
      min-width: 82%;
    }

    &__title {
      margin-bottom: $margin-step * 2;
    }

    &__subtitle {
      margin-bottom: $padding-top-tablet;
    }
  }
}

@include phone() {
  .first {
    height: 30em;
    margin-top: $header-height;

    &__content {
      padding: $margin-step-sixteen * 2 0 $margin-step * 4;
      align-items: center;
    }

    &__title,
    &__subtitle {
      text-align: center;
      min-width: $phone-container;
    }

    &__title {
      @include _h1-mobile;
      margin-bottom: $margin-step-sixteen;
    }

    &__subtitle {
      @include _h3-mobile;
      margin-bottom: $margin-step * 2;
    }
  }
}
