@import '../partials/mixins';

.first {
  background: url(../assets/images/first-screen/first.jpg) no-repeat;
  background-size: cover;

  &__content {
    height: 100%;
    padding: 8em 0 11em;
    //padding: 130px 0 190px;
    color: $text-white-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    @include _h1;
    max-width: 75%;
  }

  &__subtitle {
    @include _h4;
    max-width: 50%;
  }

  &__button {
    @include btn;
  }
}

@include desktop() {
  .first {
    height: 36.25em;
  }
}

@include tablet() {
  .container-tablet  {
    width: 580px;
  }

  .first {
    height: 40em;
  }

}
