@import '../variables';

.galleryWrap {
  position: relative;
  z-index: 100;
  background: $colorBackgroundLightGrey;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
}

.gallery {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__buttonWrap {
    display: flex;
    justify-content: center;
  }

  &__buttonInstagram {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

}

@include desktop() {
  .galleryWrap {
    height: 1136px;
  }

  .gallery {
    padding: 121px 197px;
    justify-content: space-between;

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 819px;
      margin-bottom: 26px;

      &_tablet,
      &_phone {
        display: none;
      }
    }

    &__image {
      margin-bottom: 15px;
    }

    &__buttonInstagram {
      @include button(200px, 45px, $colorBackgroundLightMilk);
      margin-right: 43px;
    }

    &__buttonCatalog {
      @include button(200px, 45px, $colorButtonLightGreen);
    }

    &__decorativeTitle {
      @include decorativeTitle;
      top: 530px;
      right: -33px;

      &_tablet {
        display: none;
      }
    }
  }
}

@include tablet() {
  .galleryWrap {
    height: 959px;
  }

  .gallery {
    padding: 20px 66px 43px;

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &_desktop,
      &_phone {
        display: none;
      }
    }

    &__image {
      margin-bottom: 15px;
    }

    &__buttonWrap {
      flex-direction: column;
      align-items: center;
    }

    &__buttonInstagram {
      @include button(200px, 45px, $colorBackgroundLightMilk);
      margin-bottom: 25px;
    }

    &__buttonCatalog {
      @include button(200px, 45px, $colorButtonLightGreen);
    }

    &__decorativeTitle {
      @include decorativeTitleTablet;
      text-align: center;
      margin-bottom: 20px;

      &_desktop {
        display: none;
      }
    }
  }
}

@include phone() {
  .galleryWrap {
    background: $colorBackgroundLightMilk;
  }

  .gallery {
    padding: 20px 0 43px;

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &_desktop,
      &_tablet {
        display: none;
      }
    }

    &__buttonWrap {
      display: none;
    }

    &__image {
      max-width: $widthContainerPhone;
      margin-bottom: 15px;
    }

    &__image:nth-child(3) {
      margin-left: 33%;
    }

    &__decorativeTitle {
      @include decorativeTitleTablet;
      text-align: center;
      margin-bottom: 20px;

      &_desktop {
        display: none;
      }
    }
  }
}
