@import '../variables';

.header {
  width: 100%;
  position: fixed;
  z-index: 500;
  background: $colorBackgroundLightMilk;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);

  &__wrap {
    position: relative;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menuWrap {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0 124px;
    height: 100%;
    align-items: center;
  }

  &__link {
    display: block;
    color: $colorText;
    transition: all .3s ease;
  }

  &__link:hover {
    color: $colorTextLight;
  }

  &__phone {
    text-align: center;
  }

  &__icon,
  &__icon::before,
  &__icon::after {
    position: absolute;
    width: 7px;
    height: 7px;
    background: $colorText;
  }

  &__icon::before,
  &__icon::after {
    content: '';
    display: block;
    transition: 0.2s;
  }

  &__icon::before {
    transform: translateY(-12px);
  }

  &__icon::after {
    transform: translateY(12px);
  }
}

@include desktop() {
  .header {
    height: $heightHeaderDesktop;

    &__wrap {
      max-width: $widthFullDesktop;
      font-size: 16px;
    }

    &__link {
      height: 2 * $heightHeaderDesktop / 3;
      line-height: 2 * $heightHeaderDesktop / 3;
    }

    &__phone {
      width: 223px;
      height: 100%;
      line-height: $heightHeaderDesktop;
      background: $colorBackgroundLightGrey;
    }

    &__icon {
      display: none;
    }
  }
}

@include tablet() {
  .header {
    width: 100%;
    height: $heightHeaderDesktop;

    &__wrap {
      max-width: 676px;
    }

    &__menuWrap {
      display: none;
    }

    &__phone {
      font-size: 20px;
    }

    &__menuIconWrap {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100px;
    }

    &__icon {
      top: 26px;
      right: 40px;
    }

    &__sideMenuWrap {
      position: absolute;
      top: 60px;
      right: -370px;
      z-index: 300;
      width: 370px;
      height: 964px;
      background: $colorBackgroundLightMilk;
      padding: 40px 107px;
      display: flex;
      flex-direction: column;
      transition: right 0.5s ease-out;
    }

    &__sideMenu {
      display: flex;
      flex-direction: column;
      margin-bottom: 400px;
    }

    &__link_side {
      margin-bottom: 40px;
    }

    &__phone {

      &_side {
        margin-bottom: 40px;
      }
    }
  }
}

@include phone() {
  .header {
    width: 100%;
    height: $heightHeaderPhone;
  }

}
