@import '../partials/mixins';

.header {
  position: relative;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__link-wrap {
    height: 3em;
    line-height: 3em;
  }

  &__link {
    @include menu-text;
  }

  &__phone {
    color: $light-text-color;
  }
}

@include desktop() {
  .header {

    &__link-wrap {
      padding-left: 2.3em;
      padding-right: 2.3em;
    }

    &__menu-icon,
    &__sidebar {
      display: none;
    }
  }
}

@include tablet() {
  .header {

    &__phone {
      display: none;
    }

    &__link-wrap {
      padding-left: 2.2em;
    }

    &__menu-icon,
    &__sidebar {
      display: none;
    }
  }
}

@include phone() {
  .header-wrap {
    position: fixed;
    z-index: 300;
    width: 100%;
    background: #ffffff;
  }

  .header {

    &__phone,
    &__menu {
      display: none;
    }

    &__sidebar {
      position: absolute;
      top: $header-height;
      right: -100vw;
      background: #ffffff;
      height: 100vh;
      padding-left: 30px;
      z-index: 50;
      width: 60vw;
      transition: right 0.5s ease-out;
    }

    &__side-menu {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 70px;
    }

    &__email {
      color: $icon-blue-color;
    }

    &__side-phone,
    &__email {
      margin-bottom: $margin-step-sixteen;
    }

    &__social-icon {
      width: 29px;
      height: 29px;
      margin-left: 0;
      margin-right: $margin-step-sixteen;
    }
  }
}