@import '../partials/mixins';

$header-height: 3.75em;

.header {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__link-wrap {
    height: 3em;
    line-height: 3em;
  }

  &__link {
    @include menu-text;
  }

  &__phone {
    color: $light-text-color;
  }
}

@include desktop() {
  .header {

    &__link-wrap {
      padding-left: 2.3em;
      padding-right: 2.3em;
    }
  }
}

@include tablet() {
  .header {

    &__phone {
      display: none;
    }

    &__link-wrap {
      padding-left: 2.2em;
    }
  }
}