@import '../partials/mixins';

.instagram {

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    position: relative;
  }

  &__title {
    @include _h1-light;
    color: $header-grey-color;
    text-align: center;
    margin-bottom: $margin-step * 2;
  }

  &__icon {
    position: absolute;
  }
}

@include desktop() {
  .instagram {
    padding: 6em 0 8.5em;

    &__item {
      min-width: 23%;
    }

    &__image {
      width: $image-width-desktop;
    }

    &__icon {
      bottom: 20px;
      right: 12px;

    }
  }
}

@include tablet() {
  .instagram {
    padding: 3.125em 0 3.75em;

    &__item {
      min-width: 23%;
      margin-bottom: $margin-step ;
    }

    &__image {
      width: $image-width-tablet;
    }

    &__icon {
      bottom: 26px;
      right: 20px;
    }
  }
}

@include phone() {
  .instagram {
    padding-bottom: $margin-mobile-forty;

    &__title {
      @include _h1-mobile-light;
    }

    &__wrap {
      min-width: $phone-width;
      margin-left: -6px;
    }

    &__item {
      min-width: 23%;
    }

    &__image {
      width: $image-width-phone;
    }

    &__icon {
      bottom: 14px;
      right: 8px;
    }
  }
}