@import '../variables';

.main {
  position: relative;

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__image {
    position: absolute;
    z-index: 200;
  }

  &__title {
    font-weight: 400;
  }

  &__textSmallWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
  }

  &__textSmall {

    &_light {
      color: $colorTextLight;
    }
  }

  &__navWrap {
    position: relative;
    z-index: 150;
  }

  &__navTitle {
    color: $colorText;
  }
}

@include desktop() {
  .main {
    height: 829px;
    margin-top: 60px;
    background: $colorBackgroundLightBlue;

    &__content {
      max-width: 1196px;
      height: 711px;
      padding: 137px 134px 127px 0;
    }

    &__contentLeft {
      max-width: 700px;
      display: flex;
      flex-direction: column;
    }

    &__textWrap {
      max-width: 640px;
    }

    &__text {
      margin-top: 34px;
      line-height: 30px;
    }

    &__button {
      margin-top: 50px;
    }

    &__contentRight {
      max-width: 211px;
      padding-top: 182px;
    }

    &__button {
      @include button(200px, 45px, $colorBackgroundLightMilk)
    }

    &__innerTextWrap {
      margin-bottom: 110px;
    }

    &__textSmall {
      margin-bottom: 17px;
    }

    &__navWrap {
      height: 118px;
      background: $colorBackgroundLightMilk;
      box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
    }

    &__nav {
      max-width: 900px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__image {
      right: 0;
      top: 77px;
    }
  }
}

@include tablet() {
  .main {

  }
}

@include phone() {
  .main {

  }
}
