@import '../variables';

.offersWrap {
  position: relative;
  z-index: 100;
  background: $colorBackgroundLightBrown;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.offers {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__blockLeft,
  &__blockRight {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

@include desktop() {
  .offersWrap {
    height: 1188px;
  }

  .offers {

    &__blockTablet,
    &__bcgImage {
      display: none;
    }

    &__blockLeft {
      padding-top: 80px;
    }

    &__blockRight {
      align-items: flex-end;
    }

    &__card {
      width: 588px;
      height: 355px;
      display: flex;
      padding: 17px;
      background: $colorBackgroundLightMilk;
      margin-top: 64px;
    }

    &__card,
    &__title {
      font-size: 16px;
    }

    &__image_phone {
      display: none;
    }

    &__text {
      width: 467px;
      font-size: 20px;
      line-height: 30px;
      margin-top: 100px;

      &_left {
        margin-left: 243px;
      }

      &_right {
        margin-right: 250px;
      }
    }

    &__textBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 25px;
    }

    &__cardText {
      font-size: 16px;
    }

    &__cardLink {
      color: $colorTextLight;
      font-size: 16px;
    }

    &__button {
      position: absolute;
      @include button(200px, 45px, $colorButtonLightGreen);
      top: 92%;
      left: 243px;

      &_phone {
        display: none;
      }
    }

    &__decorativeTitle {
      @include decorativeTitle;
      top: 530px;
      right: -65px;

      &_tablet {
        display: none;
      }
    }
  }
}

@include tablet() {
  .offersWrap {
    height: 1988px;
  }

  .offers {
    padding: 40px 56px 0;

    &__blockLeft,
    &__blockRight,
    &__bcgImage {
      display: none;
    }

    &__blockTablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__textTabletWrap {
      display: flex;
      justify-content: space-between;
      margin: 62px 0 90px;
    }

    &__card {
      width: 546px;
      height: 355px;
      display: flex;
      padding: 17px;
      background: $colorBackgroundLightMilk;
      margin-bottom: 69px;
    }

    &__card,
    &__title {
      font-size: 18px;
    }

    &__image_phone {
      display: none;
    }

    &__text {
      max-width: 328px;
      font-size: 20px;
      line-height: 30px;

      &_last {
        margin-bottom: 60px;
        max-width: 414px;
        text-align: center;
      }
    }

    &__textBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 25px;
    }

    &__cardText {
      font-size: 16px;
    }

    &__cardLink {
      color: $colorTextLight;
      font-size: 16px;
    }

    &__button {
      @include button(200px, 45px, $colorButtonLightGreen);

      &_phone {
        display: none;
      }
    }

    &__decorativeTitle {
      @include decorativeTitleTablet;

      &_desktop {
        display: none;
      }
    }
  }
}

@include phone() {
  .offersWrap {
    height: 2496px;
  }

  .offers {
    padding: 6px 0;

    &__blockLeft,
    &__blockRight,
    &__textTabletWrap,
    &__text,
    &__button {
      display: none;
    }

    &__blockTablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 328px;
      height: 535px;
      padding: 17px;
      background: $colorBackgroundLightMilk;
      margin-bottom: 46px;
    }

    &__card,
    &__title {
      font-size: 18px;
      line-height: 27px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__cardText {
      margin-bottom: 28px;
    }

    &__image {
      max-width: $widthContainerPhone - 2 * 17px;

      &_desktop {
        display: none;
      }
    }

    &__textBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__cardLink {
      color: $colorTextLight;
    }

    &__button_phone {
      display: block;
      position: absolute;
      @include button(200px, 45px, $colorButtonLightGreen);
      bottom: -620px;
      left: 17%;
    }

    &__decorativeTitle {
      @include decorativeTitleTablet;
      margin-bottom: 20px;

      &_desktop {
        display: none;
      }
    }

    &__bcgImage {
      background: url(../assets/images/offers/card-ph-4.jpg) no-repeat;
      background-size: cover;
      height: 667px;
      width: $widthFullPhone;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }

    &__bcgImage {
      color: #ffffff;
      font-size: 24px;
      padding: 61px 33px;
    }

    &__bcgText {
      color: #838383;
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
}
