@import "../variables";

.programWrap {
  position: relative;
  z-index: 200;
  background: $colorBackgroundLightMilk;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
}

.program {
  height: 100%;
  display: flex;

  &__image {
    background-size: cover;
  }

  &__formWrap {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    background: $colorBackgroundLightMilk;
    outline: none;
    border: none;

    &_checkboxInput {
      display: none;
    }
  }

  &__input,
  &__checkboxLabel {
    font-size: 16px;
    font-weight: 300;
    color: $colorTextLight;
  }

  &__input::placeholder {
    font-size: 16px;
    color: $colorTextLight;
  }

  &__label {
    border-bottom: 1px solid $colorBorder;
  }

  &__checkboxLabel {
    position: relative;
    margin-left: 41px;
    display: inline-block;
  }

  &__checkboxLabel:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid $colorBorder;
    left: -41px;
  }

  &__submit {
    border: none;
  }
}

.program__input_checkboxInput:checked + label.program__checkboxLabel:before {
  content: '\2713';
  font-size: 20px;
  text-align: center;
  color: $colorTextLight;
}


@include desktop() {
  .programWrap {
    height: 550px;

    &__upperTitleWrap {
      display: none;
    }
  }

  .program {

    &__image {
      flex-basis: 365px;
      background: url(../assets/images/program/form.jpg) no-repeat;
    }

    &__formWrap {
      padding: 46px 43px;
    }

    &__formTitle {
      margin-bottom: 48px;
    }

    &__formSubtitle {
      margin-bottom: 30px;
    }

    &__label {
      width: 427px;
    }

    &__label {
      margin-bottom: 23px;
    }

    &__checkboxLabel {
      margin-bottom: 66px;
    }

    &__submit {
      @include button(200px, 45px, $colorButtonLightGreen)
    }

    &__imageTablet {
      display: none;
    }
  }
}

@include tablet() {
  .programWrap {
    height: 964px;

    &__upperTitleWrap {
      height: 85px;
      background: $colorBackgroundLightBrown;
      box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.35);
    }

    &__decorativeTitle {
      @include decorativeTitleTablet;
      top: 14px;
      left: 442px;
    }
  }

  .program {
    height: 879px;

    &__image_desktop {
        display: none;
      }

    &__formWrap {
      width: 100%;
      padding: 40px 131px 35px;
      background: url(../assets/images/program/form-t.jpg) 0 100% no-repeat, $colorBackgroundLightMilk;
      background-size: contain;
    }

    &__formTitle {
      margin-bottom: 30px;
      font-weight: 400;
    }

    &__formSubtitle {
      margin-bottom: 50px;
      font-size: 20px;
    }

    &__label {
      width: 427px;
    }

    &__label {
      margin-bottom: 23px;
    }

    &__checkboxLabel {
      margin-bottom: 66px;
    }

    &__submit {
      @include button(200px, 45px, $colorButtonLightGreen)
    }
  }
}

